* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-azul: #0b486b;
  --color-blanco: #fff;
  --color-gris: #8a9898;
}
header {
  background: var(--color-gris);
}
header .container {
  padding: 20px;
  width: 100%;
}
header img {
  width: 20%;
}
header nav h1 {
  font-size: 40px;
  color: var(--color-azul);
}
header nav h3 {
  font-size: 16px;
  color: var(--color-blanco);
}
section .container {
  width: 100%;
}
section article.profile{
  background: var(--color-azul);
}
section article.history {
  background: var(--color-blanco);
}
section article.profile h2 {
  color: var(--color-gris);
}
section article.profile p {
  color: var(--color-blanco);
  margin: 15px;
}
section article.profile {
  padding: 40px 40px;
}
section article.history {
  padding: 40px 40px;
}
section article.history {
  color: var(--color-azul);
}
section article.history h2 {
  font-size: 20px;
}
section article.history h3 {
  font-size: 18px;
}