*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.redes > .icon,
.copy__right{
  width: 10px;
  height: 10px;
  padding: 10px;
  vertical-align: middle;
  flex-grow: 1;
}
.redes, footer {
  background: teal;
  display: flex;
  height: 40px;
  padding: 0;
  text-align: center;
}
